<head>
<title>
Recipe App
</title>
</head>

{% load i18n %}
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">Recipe App</a>
</div>
<ul class="nav navbar-nav">
<li><a href="#">Home</a></li>
<li><a href='{% url "recipes" %}'><span>{% trans "Recipes" %}</span></a></li>
<li><a href='{% url "new_recipe" %}'><span>{% trans "New recipe" %}</span></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
<li><a><span class="glyphicon glyphicon-user"></span> Welcome, {{user.username}}</a></li>
<li><a href='{% url "logout" %}'><span class="glyphicon glyphicon-log-in"> {% trans "Logout" %}</span></a></li>
{% else %}
<li><a href='{% url "register" %}'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
<li><a href='{% url "login" %}'><span class="glyphicon glyphicon-log-in"> {% trans "Login" %}</span></a></li>
{% endif %}
</ul>
</div>
</nav>

