{% include 'RecipeApp/header.html' %}
<html>
<head>
<title>
Login page
</title>
</head>
<body>
<p id="message">{{ message }}</p>
<form id="recipeForm" method="post" action="{% url 'new_recipe' %}">
{% csrf_token %}
<label for="name">Name</label><br>
<input type="text" name="name" id="recipeName"><br>
<div name="name" id= "name">
<label for="ingredients">Ingredients</label><br>
<div name="ingredients" id= "ingredients">
</div>
<input type="button" value="add ingredient" onclick="append()"><br><br>
<label for="recipe">The recipe</label><br>
<textarea id="recipe" style="font-family: Courier;" cols="10" rows="2" name="recipe" onkeyup="auto_grow(this)"></textarea>
<input type="hidden" id="amount" name="amount">
<div>
  <input type="button" value="submit" onclick="checkSubmit()">
</div>
</form>



<script type="text/javascript">
var amount = 0;
function append(){
	amount++;
    var div = document.createElement('div');
	div.id = 'ingredient'+amount;
    div.innerHTML =
        '<select name="unit'+amount+'"><option value="g">g</option><option value="ml">ml</option><option value="tb">tb</option><option value="tb">ts</option></select><input type="text" name="ingredient'+amount+'"><input type="button" value="remove" onclick="deleteLast('+amount+')">';

    document.getElementById('ingredients').appendChild(div);
}

function deleteLast(number){
	document.getElementById('ingredients').removeChild(document.getElementById('ingredient'+number));
}

function checkSubmit(){
	document.getElementById('amount').value = amount;
	if(document.getElementById("recipeName").value == ""){
		document.getElementById("message").innerHTML = "Empty name";
		return;
	}
	if(document.getElementById("recipe").value == ""){
		document.getElementById("message").innerHTML = "Empty recipe";
		return;
	}	
	document.getElementById("recipeForm").submit();
}

function auto_grow(element) {
	var lengthLimits = [10, 200];
	var maxheight = 20;
	var text = element.value;
	var rows = text.split("\n");
	var height = rows.length;
	var length = 0;
	var extraheight = 0;
	for(var x = 0; x < height; x++){	
		words = rows[x].split(" ");
		length = Math.max(length, rows[x].length);
		var currentRowLength = -3;
		var wordNumber = 0;
		while(wordNumber < words.length){
			do{
				currentRowLength = currentRowLength + words[wordNumber].length;
				if(currentRowLength > lengthLimits[1] - words.length){
					extraheight++;
					currentRowLength = -3;
					continue;
				}
				wordNumber++;
			}while(currentRowLength < lengthLimits[1] && wordNumber < words.length);
		}
	}
	height = height + extraheight;	
	element.cols = Math.min(Math.max(length + 5,lengthLimits[0]), lengthLimits[1]);	
		
	element.rows = Math.min(height+1, maxheight);
}
append();
</script>
</body>
</html>