{% include 'RecipeApp/header.html' %}
<p id="message">{{ message }}</p>
<form id="register" method="post" action="{% url 'register' %}">
{% csrf_token %}

<label for="username">First Name</label><br>
<input type="text" name="first_name" value="{{ first_name }}"><br>
<label for="username">Last Name</label><br>
<input type="text" name="last_name" value="{{ last_name }}"><br>
<label for="username">Email Address</label><br>
<input type="text" name="email" value="{{ email }}"><br>
<label for="username">Username</label><br>
<input type="text" name="username"><br>
<label for="username">Password</label><br>
<input type="password" name="password"><br>
<label for="username">Password again</label><br>
<input type="password" name="password2">
<div>
  <input type="button" value="register" onclick="checkSubmit()" />
</div>
</form>

<script type="text/javascript">
function checkSubmit(){

var pass1 = document.getElementById("register").password.value;
var pass2 = document.getElementById("register").password2.value;
if(pass1 != pass2){
	document.getElementById("message").innerHTML = "Passwords do not match";
	return;
}
if(pass1.length < 7){
	document.getElementById("message").innerHTML = "The password should be at least 7 characters";
	return;
}
if(document.getElementById("register").username.value == ""){
	document.getElementById("message").innerHTML = "Empty username";
	return;
}
if(document.getElementById("register").first_name.value == ""){
	document.getElementById("message").innerHTML = "Empty first name";
	return;
}
if(document.getElementById("register").last_name.value == ""){
	document.getElementById("message").innerHTML = "Empty last name";
	return;
}
if(document.getElementById("register").email.value == ""){
	document.getElementById("message").innerHTML = "Empty email address";
	return;
}

document.getElementById("register").submit();




}



</script>